@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
body {
	font-family: "roboto", sans-serif;
}

/* ---Global CREDIT: Code Institute Slack community---*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ---Navbar---*/

.navbar {
	margin-bottom: 0;
	border: 0;
	width: 100%;
	background-color: rgb(0, 174, 255);
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a {
	font-weight: bold;
}

.navbar .navbar-text {
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
}

/*--Jumbotron--*/

.jumbotron {
	height: 100%;
	background: url("../images/thejobhut-jumbotron-home.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 35%;
    padding-bottom: 10%;
    margin-top: 60px;
	position: relative;
}

.jumbotron-overlay-text {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.lead-overlay-text {
    display: inline-block;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.vacancy-search-btn {
    position: relative;
    float: right;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px; 
}


/*--industry news--*/

.industry-news-jumbotron {
	height: 100%;
	background: url("../images/industrynews2.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 35%;
    padding-bottom: 10%;
    margin-top: 60px;
	position: relative;
}

.industry-news-jumbotron-overlay-text {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.industry-news-content {
    color: white;
    background-color: rgb(0, 31, 170);
    padding-top: 35px;
    padding-bottom: 10px;
}

.industry-text-news {
    font-weight: 900;
}


.latest-news-stories-content {
    background-color: rgb(206, 206, 206);
    padding-top: 15px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.latest-news-heading {
    color: rgb(53, 53, 53);
    font-weight: bold;

}



.latestnews-text {
    color: black;
    font-size: larger;
}

.main-carousel {
  background: rgb(0, 31, 170);
}

.carousel-cell {
  width: 25%;
  padding-bottom: 10px;
  border: none;
  border-style: none;
  background: rgb(0, 31, 170);
  background-clip: padding-box;
  text-align: center;
  display: flex;
}

.card {
    background:  rgb(0, 31, 170);
    border: none;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.flickity-resize .carousel-cell {
  min-height: 100%;
}

.latest-news-title {
    margin-left: 10%;
    margin-right: 10%;
}

.news-heading-title {
    color: rgb(53, 53, 53);
    font-weight: bold;

}

/*--
.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number 
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}--*/

.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.news-media-image {
    width: 400px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
    border: 5px;
}

.block-divider {
    width: 100%;
    height: 25px;
    border: 0;
    background-color: rgb(0, 31, 170);
}

.newscontent {
    color: rgb(53, 53, 53);
    font-size: larger;
    padding-left: 10%;
    padding-right: 10%;
}

/*--career advice--*/

.careeradvice-jumbotron {
	height: 100%;
	background: url("../images/careeradvice2.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 35%;
    padding-bottom: 10%;
    margin-top: 60px;
	position: relative;
}

.careeradvice-jumbotron-overlay-text {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.career-advice-content {
    color: #ffffff;
    background-color: rgb(0, 174, 255);
    padding-top: 35px;
    padding-bottom: 10px;
}



/*--jobs near you--*/

.jobsearch-jumbotron {
	height: 100%;
	background: url("../images/jobsearch.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 35%;
    padding-bottom: 10%;
    margin-top: 60px;
	position: relative;
}

.jobsearch-jumbotron-overlay-text {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.jobs-near-you-content {
    color: #ffffff;
    background-color: rgb(0, 174, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--about us--*/

.aboutus-jumbotron {
	height: 100%;
	background: url("../images/aboutus.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 35%;
    padding-bottom: 10%;
    margin-top: 60px;
	position: relative;
}

.aboutus-jumbotron-overlay-text {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.about-us-content {
    color: #ffffff;
    background-color: rgb(0, 174, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
}

/*--footer--*/

.social-links-copyright {
    color: #ffffff;
	background-color: #000000;
	padding-top: 35px;
	padding-bottom: 35px;
}

.list-inline-item {
	font-size: 45px;
}

.slogon-quote {
	font-weight: bold;
	font-style: italic;
	color: rgb(0, 174, 255);
}

/*--media queries--*/

@media (max-width: 767px) {
	.jumbotron {
        height: 320px;
        margin-top: 40px;
	}
}

@media (max-width: 320px) {
    .jumbotron {
        padding-top: 45%;
    }
}

/*--media query to reduce number of carousel cells on smaller screen--*/

@media screen and ( max-width: 767px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 50%; }
  .carousel-cell {height: 330px;}
}




